/* CSS Document */
* {
  font-family: Helvetica;
}

img {
  opacity: 0.2;
}

.image {
  background-image: url("../img/concert-mod.jpg");
}

body {
  background: #fefef4;
}

tr:hover td {
  background-color: rgb(226, 228, 240);
  }

h2 {
  padding-top: 15px;
  padding-bottom: 0px;
  font-family: Helvetica;
  font: bold;
}
table {
    align-items: center;
    font-family: Helvetica;
    outline:none;
    border: none;
    border-collapse: collapse;
}

th, td {
  padding: 8px;
  text-align: left;
  border: none;
  border-bottom: 1px solid rgb(180, 180, 180);
}

ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: #333;
  font-family: Helvetica;
}

li {
  float: left;
  font-family: Helvetica;
}

li a {
  display: block;
  color: #fefef4;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-family: Helvetica;
}

/* Change the link color to #111 (black) on hover */
li a:hover {
  background-color: rgb(108, 108, 108);
  font-family: Helvetica;
}
  
  li a:hover:not(.active) {
    background-color: rgb(108, 108, 108);
    font-family: Helvetica;
  }

li a:active,
.active {
  background-color: rgb(59, 88, 221);
  font-family: Helvetica;
  }
