/* CSS Document */

html {
  font-family: termina, sans-serif;
  font-weight: 500;
  font-style: normal;
}

h1 {
  margin-top: 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  color: #333;
  font-family: ethnocentric, sans-serif;
  font-weight: 600;
  font-style: normal;
}

a.add-link, a.add-link:visited, a.back, a.back:visited, i {
  color: rgb(59, 88, 221);
}

div {
  margin-left: 15%;
}

div.insert {
  margin-left: 0%;
}

form {
  width: auto;
}

table {
  /* table-layout: fixed; */
  align-items: left;
  margin-right: auto;
  margin-bottom: 3%;

  border-collapse: collapse;
  border: solid white 4px;
  box-shadow: 7px 7px 1px rgb(59, 88, 221);
  background-color: rgb(187, 187, 187);

  color: black;
}

tbody, thead {
  text-align: left;
}

fieldset {
  font-family: termina, sans-serif;
  font-weight: 300;
  font-style: normal;
  font-size: small;
}

input {
  font-family: termina, sans-serif;
  font-weight: 300;
  font-style: normal;
  font-size: small;
}

select {
  font-family: termina, sans-serif;
  font-weight: 300;
  font-style: normal;
  font-size: small;
}

label {
  margin-left: 1%;
}

button {
  padding: 0.5%;
  margin-top: 0.25%;
  margin-bottom: 0.25%;
  
  font-family: termina, sans-serif;
  font-weight: 300;
  font-style: normal;
  font-size: small;

  background-color: rgb(59, 88, 221);
  color: white;
  border-radius: 5px;
}

/* BACKGROUND */
/* Adapted image from https://www.rollingstone.com/pro/features/black-promoters-collective-live-music-1056649/ - Accessed 6/01/22 */

body {
  background: #fefef4;
  background-repeat: no-repeat;  
  background-position: 0% 0%;
  background-size: 100% 100%;
}

.image {
  background-image: url("../img/concert-mod.jpg");
}

/* MENU */
/*  Adapted menu style from https://www.w3schools.com/css/css_navbar.asp - Accessed 4/22/22 */

ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: #333;
}

li {
  float: left;
}

li a {
  display: block;
  color: #fefef4;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

li a:hover {
  background-color: rgb(108, 108, 108);
}

li a:active, .active {
  background-color: rgb(59, 88, 221);
  }

ul li:hover, body.artistperformances li.artistperformances, 
body.concerts li.concerts, body.artists li.artists, body.venues li.venues, 
body.recordlabels li.recordlabels, body.ticketholders li.ticketholders, 
body.tickets li.tickets { 
  background-color: rgb(59, 88, 221);
}
