<html>
<!-- Adapted from the people.html UI design -->
<head>
	<h2>CONCERTS UNLIMITED</h2>
	<link href="style.css" rel="stylesheet" type="text/css" />
	<script language="JavaScript">
	function showform(dowhat) {
		/*
		 * four DIVS: browse, insert, update, delete
		 * this function sets one visible the others not
		 */
		if(dowhat == 'insert') {
			document.getElementById('browse').style.display = 'block';
			document.getElementById('insert').style.display = 'block';
			document.getElementById('edit').style.display = 'none';
			document.getElementById('delete').style.display = 'none';
		} else if(dowhat == 'update') {
			document.getElementById('browse').style.display = 'block';
			document.getElementById('insert').style.display = 'none';
			document.getElementById('edit').style.display = 'block';
			document.getElementById('delete').style.display = 'none';
		} else if(dowhat == 'delete') {
			document.getElementById('browse').style.display = 'block';
			document.getElementById('insert').style.display = 'none';
			document.getElementById('edit').style.display = 'none';
			document.getElementById('delete').style.display = 'block';
		} else if(dowhat == 'all') {
			document.getElementById('browse').style.display = 'block';
			document.getElementById('insert').style.display = 'block';
			document.getElementById('edit').style.display = 'block';
			document.getElementById('delete').style.display = 'block';
		} else { //by default display browse
			document.getElementById('browse').style.display = 'block';
			document.getElementById('insert').style.display = 'none';
			document.getElementById('edit').style.display = 'none';
			document.getElementById('delete').style.display = 'none';
		}
	}
	function newArtistPerformance() {
		showform('insert');
	}
	function updateArtistPerformance(pid) {
		showform('update');
	}
	function deleteArtistPerformance(pid) {
		showform('delete');
	}
	function browseArtistPerformance() {
		showform('browse');
	}
	function showAll() {
		showform('all');
	}
	</script>
</head>

<body onload="browseArtistPerformance()">
		<h3>Artist Performances</h3> [ <a href="Home">Home</a> | Concerts | Artists | Artist Performances | Venues | Record Labels | Ticketholders | Tickets ]
	<div id="browse">
		<p><a href="#" onClick="newArtistPerformance()">Add New</a> </p>
		<table border="1" cellpadding="5">
            <!-- Access data tuple passed from app.py -->
            {% if data %}
			    <thead>
				    <tr>
					    <!-- Iterate through each key in the first entry to get the column name -->
                        {% for key in data[0].keys() %}

                        <!-- Create a <th> tag with the key inside of it, this will be our header row -->
					    <th scope="col" data-field="{{ key }}" data-filter-control="input">{{ key }}</th>

                        <!-- End of this for loop -->
                        {% endfor %}
                    </tr>

				<tbody>
					<!-- Now, iterate through every item in data -->{% for item in data %}
					    <tr>
						    <!-- Then iterate through every key in the current item dictionary -->
                            {% for key in item.keys() %}

						    <!-- Create a <td> element with the value of that key in it -->
						    <td> {{item[key]}} </td>
                            {% endfor %}

                            <!-- Create our edit/delete buttons -->
						    <td><a href="edit_ArtistPerformance/{{item.id}}" class="btn btn-default">Edit</a></td>
						    <td><a href="delete_ArtistPerformance/{{item.id}}" class="btn btn-default">Delete</a></td>

					    </tr>
                        {% endfor %}
                {% endif %}
        </table>
	<p>&nbsp;</p>
	</div>	<!-- browse -->

	<div id="insert">
		<!-- form to INSERT new data-->
		<form id="insertArtistPerformance" action="/ArtistPerformances" method="post">
			<legend><strong>Add Artist Performance</strong></legend>
			<fieldset>
                <!-- placeholder shows ghost text, required forces an input, pattern forces input adherence -->
				<label for="artist">Artist:</label>
				<select class="form-control" class="form-control" id="artist" name="artist"
				pattern="[0-3]{1}" placeholder="" required>
					<option value="1">Billie Eilish</option>
					<option value="2">Olivia Rodrigo</option>
					<option value="3">Imagine Dragons</option>
					<option value="4">ODESZA</option>
				</select>
				
				<label for="concert">Concert:</label>
				<select class="form-control" id="concert" name="concert"
				pattern="[0-3]{1}" placeholder="" required>
					<option value="1">4/8/2023 Stubbs</option>
					<option value="2">5/10/2023 Ryman Auditorium</option>
					<option value="3">6/24/2023 930 Club</option>
					<option value="4">7/14/2023 Red Rocks</option>
				</select>

      </fieldset>

            <!-- Create 'Add' and 'Cancel' buttons -->
			<input type="submit" value="Add ArtistPerformance" name="Add_ArtistPerformance"
			class="btn btn-primary" style="margin:.5rem;">
			<input class="btn" type="button" value="Cancel" onClick="browseArtistPerformance()">
        </form>
	</div><!--insert-->

</body>
</html>
