<html>
<!-- Adapted from the CS 340 people.html UI design -->
<head>
	<h1>CONCERTS UNLIMITED</h1>
	<link href="/static/css/style.css" rel="stylesheet" type="text/css"/>
	<link rel="stylesheet" href="https://use.typekit.net/nvz7lyg.css">
	<script src="https://kit.fontawesome.com/1f94aa04ee.js" crossorigin="anonymous"></script>
	<script language="JavaScript">
	function showform(dowhat) {
		/*
		 * four DIVS: browse, insert, update, delete
		 * this function sets one visible the others not
		 */
		if(dowhat == 'insert') {
			document.getElementById('browse').style.display = 'block';
			document.getElementById('insert').style.display = 'block';
			document.getElementById('edit').style.display = 'none';
			document.getElementById('delete').style.display = 'none';
		} else if(dowhat == 'update') {
			document.getElementById('browse').style.display = 'block';
			document.getElementById('insert').style.display = 'none';
			document.getElementById('edit').style.display = 'block';
			document.getElementById('delete').style.display = 'none';
		} else if(dowhat == 'delete') {
			document.getElementById('browse').style.display = 'block';
			document.getElementById('insert').style.display = 'none';
			document.getElementById('edit').style.display = 'none';
			document.getElementById('delete').style.display = 'block';
		} else if(dowhat == 'all') {
			document.getElementById('browse').style.display = 'block';
			document.getElementById('insert').style.display = 'block';
			document.getElementById('edit').style.display = 'block';
			document.getElementById('delete').style.display = 'block';
		} else { //by default display browse
			document.getElementById('browse').style.display = 'block';
			document.getElementById('insert').style.display = 'none';
			document.getElementById('edit').style.display = 'none';
			document.getElementById('delete').style.display = 'none';
		}
	}
	function newArtistPerformance() {
		showform('insert');
	}
	function updateArtistPerformance(pid) {
		showform('update');
	}
	function deleteArtistPerformance(pid) {
		showform('delete');
	}
	function browseArtistPerformance() {
		showform('browse');
	}
	function showAll() {
		showform('all');
	}
	</script>
</head>

<body onload="browseArtistPerformance()" class="artistperformances">
	{% include "Menu.html" %}
			<p>		
			<form id="searchArtistPerformance" action="/ArtistPerformances"method="get">
				<fieldset>
					<!-- placeholder shows ghost text, required forces an input,	pattern forces input adherence -->
					<a><b>Search</b></a>&nbsp;&nbsp;&nbsp;
					<label for="artist"> Artist: </label>
					<input type="text" name="artist" id="artist">
					<label for="date"> Date: </label>
					<input type="date" name="date" id="date">
					<label for="venue"> Venue: </label> 
					<input type="text" name="venue" id="venue">
					<!-- Create 'Search' and 'Cancel' buttons -->
					<input type="submit" value="Search" name="Search_ArtistPerformance"
					class="btn btn-primary" style="margin:.5rem;">
					<input class="btn" type="button" value="Reset" 	name="Reset"onClick="window.location.href='/ArtistPerformances'">
				</fieldset>
			</form>
		</p>
	<div id="browse">
		<table border="1" cellpadding="5">
            <!-- Access data tuple passed from app.py -->
            {% if data %}
			    <thead>
				    <tr>
					    <!-- Iterate through each key in the first entry to get the column name -->
                        {% for key in data[0].keys() %}

                        <!-- Create a <th> tag with the key inside of it, this will be our header row -->
					    <th scope="col" data-field="{{ key }}" data-filter-control="input">{{ key }}</th>

                        <!-- End of this for loop -->
                        {% endfor %}
						<th></th><th></th>
                    </tr>

				<tbody>
					<!-- Now, iterate through every item in data -->{% for item in data %}
					    <tr>
						    <!-- Then iterate through every key in the current item dictionary -->
                            {% for key in item.keys() %}

						    <!-- Create a <td> element with the value of that key in it -->
						    <td> {{item[key]}} </td>
                            {% endfor %}

                            <!-- Create our edit/delete buttons -->
						    <td><a href="EditPerformance/{{item['ID']}}"><i class="fa-solid fa-square-pen"></i></a></td>
						    <td><a href="DeletePerformance/{{item['ID']}}"><i class="fa-solid fa-trash-can"></i></a></td>

					    </tr>
                        {% endfor %}
                {% endif %}
        </table>
		<p><a href="#" onClick="newArtistPerformance()" class="add-link"><i class="fa-solid fa-square-plus fa-2xl"></i></a></p>
	<p>&nbsp;</p>
	</div>	<!-- browse -->

	<div id="insert" class="insert">
		<!-- form to INSERT new data-->
		<form id="insertArtistPerformance" action="/ArtistPerformances" method="post">
			
			<fieldset>
				<legend><strong>Add Artist Performance</strong></legend>
                <!-- placeholder shows ghost text, required forces an input, pattern forces input adherence -->
				<label for="artist">Artist:</label>
                <select name="artistID" id="artistID">
                    {% for artist in Artists %}
					<option value="{{artist.artistID}}"> {{artist.name}} </option>
					{% endfor %}
                </select>

				<label for="concert"> Concert: </label>
				<select name="concertID" id="concertID">
					{% for concert in Concerts %}
					<option value="{{concert.concertID}}"> {{concert.date}}, {{concert.venue}}  </option>
					{% endfor %}
				</select>
      		</fieldset>
			
            <!-- Create 'Add' and 'Cancel' buttons -->
			<input type="submit" value="Add ArtistPerformance" name="Add_ArtistPerformance"
			class="btn btn-primary" style="margin:.5rem;">
			<input class="btn" type="button" value="Cancel" onClick="browseArtistPerformance()">
        </form>
	</div><!--insert-->

</body>
</html>
