<html>

<head>
	<title>Edit Ticket</title>
	<link href="/static/css/style.css" rel="stylesheet" type="text/css"/>
	<link rel="stylesheet" href="https://use.typekit.net/nvz7lyg.css">    
</head>

<body>
    <div id="edit">
        <h3> You are updating the following ticket: </h3>

        <br/>

        <!-- table to display the row being edited -->
        <table id="currentInfo">
            <thead>
                <tr>
                    {% for key in data[0].keys() %}
                    {% if key != 'ticketID' and key != "ticketholderID" and key != "concertID" %}
                        <th scope="col" data-field="{{ key }}" data-filter-control="input">{{ key }}</th>
                    {% endif %}
                    {% endfor %}
                </tr>
            </thead>
            <tbody>
                <tr>
                    {% for key in data[0].keys() %}
                    {% if key != 'ticketID' and key != "ticketholderID" and key != "concertID" %}
                        {% if key == 'Scanned?' %}
							{% if data[0][key] == 0 %}
								<td> No </td>
							{% else %}
								<td> Yes </td>
							{% endif %}
						{% else %}
                            <td> {{data[0][key]}} </td>
                        {% endif %}
                    {% endif %}
                    {% endfor %}
                </tr>
            </tbody>
        </table>

        <br/>

		<!-- form to edit data in Tickets -->
		<form id="editTicket" action="/EditTicket/{{data[0].ticketID}}" method="POST">
			<legend><strong>Edit Ticket Information</strong></legend>
			<fieldset>

				<input type="hidden" value="{{data[0].ticketID}}" class="form-control" id="ticketID" name="ticketID" required>

				<label for="ticketholderID"> Ticketholder: </label>
                <select name="ticketholderID" id="ticketholderID">
                    {% for ticketholder in ticketholders %}
					<option value="{{ticketholder.ticketholderID}}" {% if data[0].ticketholderID == ticketholder.ticketholderID %} selected {% endif %}> 
                        {{ticketholder.name}} 
                    </option>
					{% endfor %}
                </select>

				<label for="concertID"> Concert: </label>
				<select name="concertID" id="concertID">
					{% for concert in concerts %}
					<option value="{{concert.concertID}}" {% if data[0].concertID == concert.concertID %} selected {% endif %}> 
                        {{concert.date}}, {{concert.venue}} 
                    </option>
					{% endfor %}
				</select>

                <label for="scanned"> Scanned? </label>
                <select id="scanned" name="scanned">
                    <option value=0 {% if data[0]['Scanned?'] == 0 %} selected {% endif %}> No </option>
                    <option value=1 {% if data[0]['Scanned?'] == 1 %} selected {% endif %}> Yes </option>
                </select>

			</fieldset>
				<button type="submit"> Submit </button>
        </form>

        <a href="/Tickets" class="back">Back to Tickets</a>

	</div><!--edit-->
</body>

</html>
