<html>

<head>
	<title>Edit Performance</title>
	<link href="style.css" rel="stylesheet" type="text/css" />    
</head>

<body>
    <div id="edit">
        <h3> You are updating the following performance: </h3>

        <br/>

        <!-- table to display the row being edited -->
        <table id="currentInfo">
            <thead>
                <tr>
                    {% for key in data[0].keys() %}
                    {% if key != 'concert_artistID' %}
                    <th scope="col" data-field="{{ key }}" data-filter-control="input">{{ key }}</th>
                    {% endif %}
                    {% endfor %}
                </tr>
            </thead>
            <tbody>
                <tr>
                    {% for key in data[0].keys() %}
                    {% if key != 'concert_artistID' %}
                    <td> {{data[0][key]}} </td>
                    {% endif %}
                    {% endfor %}
                </tr>
            </tbody>
        </table>

        <br/>

		<!-- form to edit data in Concert_Artists -->
		<form id="editArtistPerformance" action="/EditPerformance/{{data[0].concert_artistID}}" method="POST">
			<legend><strong>Edit Performance Information</strong></legend>
			<fieldset>

				<input type="hidden" value="{{data[0].concert_artistID}}" class="form-control" id="concert_artistID" name="concert_artistID" required>

				<label for="artistName"> Artist: </label>
                <select name="artistID" id="artistID">
                    {% for artist in Artists %}
					<option value="{{artist.artistID}}" {% if data[0].Artist == artist.name %} selected {% endif %}> 
                        {{artist.name}} 
                    </option>
					{% endfor %}
                </select>

				<label for="concert"> Concert ID: </label>
				<select name="concertID" id="concertID">
					{% for concert in Concerts %}
					<option value="{{concert.concertID}}" {% if data[0].Venue == concert.venue and data[0].Date == concert.date %} selected {% endif %}> 
                        {{concert.venue}}, {{concert.date}} 
                    </option>
					{% endfor %}
				</select>

			</fieldset>
            <br />
			<button type="submit"> Submit </button>
        </form>

        <!-- form to redirect to main page if user wants to cancel -->
        <form action='/ArtistPerformances' method='GET'>
            <button> Cancel </button>
        </form>
	</div><!--edit-->
</body>

</html>