<html>
<!-- Adapted from the people.html UI design -->
<head>
	<h2>CONCERTS UNLIMITED</h2>
	<title>Main</title>
	<link href="style.css" rel="stylesheet" type="text/css" />
	<script language="JavaScript">
    	function showform(dowhat) {
		/*
		 * four DIVS: browse, insert, update, delete
		 * this function sets one visible the others not
		 */
		{ //by default display browse
			document.getElementById('browse').style.display = 'block';
		}
	}
	function browseHome() {
		showform('browse');
	}
	</script>
<html>
<body onload="browseHome()">
		<h3>Home</h3> [ Home | Concerts | Artists | <a href="ArtistPerformances">Artist Performances</a> | Venues | Record Labels | Ticketholders | Tickets ]
</body>
</html>

