<!-- Menu.html.j2 -->

<nav>
    <ul>
        <li class="index"><a href="Index">Home</a></li>
        <li class="concerts"><a href="Concerts">Concerts</a></li>
        <li class="artists"><a href="Artists">Artists</a></li>
        <li class="artistperformances"><a href="ArtistPerformances">Artist Performances</a></li>
        <li class="venues"><a href="Venues">Venues</a></li>
        <li class="recordlabels"><a href="RecordLabels">Record Labels</a></li>
        <li class="ticketholders"><a href="Ticketholders">Ticketholders</a></li>
        <li class="tickets"><a href="Tickets">Tickets</a></li>
    </ul>
</nav>
