<html>
<!-- Adapted from CS340 flask starter app -->
<head>
	<h1>CONCERTS UNLIMITED</h1>
	<link href="/static/css/style.css" rel="stylesheet" type="text/css"/>
	<link rel="stylesheet" href="https://use.typekit.net/nvz7lyg.css">
	<script src="https://kit.fontawesome.com/1f94aa04ee.js" crossorigin="anonymous"></script>
	<script language="JavaScript">
	function showform(dowhat) {
		/*
		 * four DIVS: browse, insert, update, delete
		 * this function sets one visible the others not
		 */
		if(dowhat == 'insert') {
			document.getElementById('browse').style.display = 'block';
			document.getElementById('insert').style.display = 'block';
			document.getElementById('edit').style.display = 'none';
			document.getElementById('delete').style.display = 'none';
		} else if(dowhat == 'update') {
			document.getElementById('browse').style.display = 'block';
			document.getElementById('insert').style.display = 'none';
			document.getElementById('edit').style.display = 'block';
			document.getElementById('delete').style.display = 'none';
		} else if(dowhat == 'delete') {
			document.getElementById('browse').style.display = 'block';
			document.getElementById('insert').style.display = 'none';
			document.getElementById('edit').style.display = 'none';
			document.getElementById('delete').style.display = 'block';
		} else if(dowhat == 'all') {
			document.getElementById('browse').style.display = 'block';
			document.getElementById('insert').style.display = 'block';
			document.getElementById('edit').style.display = 'block';
			document.getElementById('delete').style.display = 'block';
		} else { //by default display browse
			document.getElementById('browse').style.display = 'block';
			document.getElementById('insert').style.display = 'none';
			document.getElementById('edit').style.display = 'none';
			document.getElementById('delete').style.display = 'none';
		}
	}
	function newTicket() {
		showform('insert');
	}
	function updateTicket(pid) {
		showform('update');
	}
	function deleteTicket(pid) {
		showform('delete');
	}
	function browseTickets() {
		showform('browse');
	}
	function showAll() {
		showform('all');
	}
	</script>
</head>

<body onload="browseTickets()" class="tickets">
	{% include "Menu.html" %}
	<div id="browse">
		<p><a href="#" onClick="newTicket()" class="add-link">Add New</a> </p>
		<table border="1" cellpadding="5">
            <!-- Access data tuple passed from app.py -->
            {% if data %}
			    <thead>
				    <tr>
					    <!-- Iterate through each key in the first entry to get the column name -->
                        {% for key in data[0].keys() %}
                        <!-- Create a <th> tag with the key inside of it, this will be our header row -->
					    <th scope="col" data-field="{{ key }}" data-filter-control="input">{{ key }}</th>
                        {% endfor %}
						<th></th><th></th>
                    </tr>

				<tbody>
					<!-- Now, iterate through every item in data -->
                        {% for item in data %}
					    <tr>
						    <!-- Then iterate through every key in the current item dictionary -->
                            {% for key in item.keys() %}
							{% if key == 'Scanned?' %}
								{% if item[key] == 0 %}
									<td> No </td>
								{% else %}
									<td> Yes </td>
								{% endif %}
						    {% else %}
						    	<td> {{item[key]}} </td>
							{% endif %}
                            {% endfor %}

                            <!-- Create our edit/delete buttons -->
							<td><a href="EditTicket/{{item['Ticket ID']}}"><i class="fa-solid fa-square-pen"></i></a></td>
                            <td><a href="DeleteTicket/{{item['Ticket ID']}}"><i class="fa-solid fa-trash-can"></i></a></td>
					    </tr>
                        {% endfor %}
                {% endif %}
        </table>

        <br/>

        <table border="1" cellpadding="5">
            <caption><strong> Concert Attendance Report </strong></caption>

            <thead>
                <tr>
                    <th> Concert </th>
                    <th> Tickets Sold </th>
                    <th> Attendance </th>
                </tr>
            </thead>

            <tbody>
                {% for item in ticketSales %}
                <tr>
                    <td> {{item.Concert}} </td>
                    <td> {{item['Tickets Sold']}} </td>
                    <td> {{item.Attendance}} </td>
                </tr>
                {% endfor %}
            </tbody>
        </table>

	<p>&nbsp;</p>
	</div>	<!-- browse -->

	<div id="insert" class="insert">
		<!-- form to INSERT new data-->
		<form id="insertTickets" action="/Tickets" method="POST">
			<fieldset>
			<legend><strong>Add Ticket</strong></legend>				
			<label for="ticketholderID"> Ticketholder: </label>
                <select id="ticketholderID" name="ticketholderID">
                    {% for ticketholder in ticketholders %}
                    <option value="{{ticketholder.ticketholderID}}"> {{ticketholder.name}} </option>
                    {% endfor %}
                </select>
                <label for="concertID"> Concert: </label>
                <select id="concertID" name="concertID">
                    {% for concert in concerts %}
                    <option value="{{concert.concertID}}"> {{concert.Venue}}, {{concert.date}} </option>
                    {% endfor %}
                </select>

                <label for="scanned"> Scanned? </label>
                <select id="scanned" name="scanned">
                    <option value=0 selected> No </option>
                    <option value=1> Yes </option>
                </select>

      		</fieldset>
			
            <!-- Create 'Add' and 'Cancel' buttons -->
			<input type="submit" value="Add Ticket" name="Add_Ticket" class="btn btn-primary" style="margin:.5rem;">
			<input class="btn" type="button" value="Cancel" onClick="browseTickets()">
        </form>
	</div><!--insert-->

</body>
</html>
